@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

nav {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; 
    padding: 18px 8%;
    background-color: #24252a; 
    position: sticky;
    top: 0;
 
}

body {
    background-image: url(Bilder/City.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.above-nav { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    margin: 0;
} 

.extern-logos {
    height: 250x;
    width: 20x;
    padding: 0;
    margin: 5px;

}

.nav-links li a , button {
    font-family: "Rubik", sans-serif;
    font-weight: 550;
    font-size: 21px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin-right:auto;
}


.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 25px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.nav-button {
    padding: 7px 12px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.nav-button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}


.für-dich {
    background-color: #3d3e42;
    width: 450px;
    height: auto; 
    margin: 50px;
    font-family: sans-serif;
    padding: 20px;
}

.curved-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.text {
    line-height: 21px;
}